body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 496px;
  margin: 0 auto;
  padding-top: 12px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.waiting-cursor {
    cursor: wait;
}

.center {
    margin: auto;
    text-align: center;
}

.invisible {
    display: none;
}

#board {
    margin: auto;
    background-color: #eceaed;
    padding: 10px;
}

.piece {
    margin: 2px;
    width: 64px;
    height: 64px;
}

.col {
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color :blue;
}

.visible-indicator {
	border-top: 25px solid #000;
}

.invisible-indicator {
	border-top: 25px solid #eceaed;
}

.indicator {
    width: 0; 
	height: 0; 
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    display: inline-block;
    margin: 2px;
}
